h2 {
    color: aqua;
    background-color: blueviolet;
    border: 1px solid red;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}